<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
	th:replace="~{base::layout(~{::section})}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<section>
		<div class="container mt-5 ">
			<div class="row">
				<div class="col-md-5 p-2 ">
					<img alt=""
						src="https://th.bing.com/th/id/OIP.NuRBCI6hg2rEnVHvKgcobAHaDt?w=338&h=175&c=7&r=0&o=7&dpr=1.5&pid=1.7&rm=3"
						width="150%" height="100%">
				</div>

				<div class="col-md-7 p-5">
					<div class="card shadow p-3 mb-5 bg-body-tertiary rounded">
						<div class="card-header text-center">
							<p class="fs-4 text-center">Register</p>
							<th:block th:if="${session.success}">
								<p class="text-success fw-bold">[[${session.success}]]</p>
								<th:block th:text="${@commonServiceImp.removeSessionMessage()}"></th:block>
							</th:block>

							<th:block th:if="${session.errmsg}">
								<p class="text-danger fw-bold">[[${session.errmsg}]]</p>
								<th:block th:text="${@commonServiceImp.removeSessionMessage()}"></th:block>
							</th:block>
						</div>
						<div class="card-body">
							<form action="/saveUser" enctype="multipart/form-data" method="post">
								<div class="row">
									<div class="col">
										<label class="form-label">Full Name</label> <input
											class="form-control" name="name" type="text">
									</div>
									<div class="col">
										<label class="form-label">Mobile Number</label> <input
											class="form-control" name="mobileNumber" type="number">
									</div>
								</div>
								
								<div class="mb-3">
										<label class="form-label">E-Mail</label> <input
											class="form-control" name="email" type="email">
									</div>
								
								<div class="row">
									<div class="col">
										<label class="form-label">Address</label> <input
											class="form-control" name="address" type="text">
									</div>
									<div class="col">
										<label class="form-label">City</label> <input
											class="form-control" name="city" type="text">
									</div>
								</div>
								
								<div class="row">
									<div class="col">
										<label class="form-label">State</label> <input
											class="form-control" name="state" type="text">
									</div>
									<div class="col">
										<label class="form-label">Pin Code</label> <input
											class="form-control" name="pincode" type="number">
									</div>
								</div>
								
								<div class="row">
									<div class="col">
										<label class="form-label">Password</label> <input
											class="form-control" name="password" type="password">
									</div>
									<div class="col">
										<label class="form-label">Confirm Password</label> <input
											class="form-control" name="cpassword" type="password">
									</div>
								</div>
								
								<div class="mb-3">
										<label class="form-label">Profile Picture</label> <input
											class="form-control" name="img" type="file">
									</div>
								
								<button class="btn bg-primary text-white col-md-12"
									type="submit"> Register </button>
							</form>
						</div>
						
						<div class="card-footer text-center">
							
							<p>
								Already have an account ?<a href="/signin"
									style="text-decoration: none;">Log In</a>
							</p>
						</div>

					</div>
				</div>
			</div>
		</div>
	</section>

</body>
</html>