<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
	th:replace="~{base::layout(~{::section})}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<section>
		<div class="container p-5">
			<div class="row">
				<div class="col-md-8 offset-md-2">
					<div class="card text-primary card-sh">
						<div class="card-header text-center fs-4">
							Add Products

							<th:block th:if="${session.success}">
								<p class="text-success fw-bold">[[${session.success}]]</p>
								<th:block th:text="${@commonServiceImp.removeSessionMessage()}"></th:block>
							</th:block>

							<th:block th:if="${session.errmsg}">
								<p class="text-danger fw-bold">[[${session.errmsg}]]</p>
								<th:block th:text="${@commonServiceImp.removeSessionMessage()}"></th:block>
							</th:block>

						</div>
						<div class="card-body">
							<form action="/admin/saveProduct" method="post" enctype="multipart/form-data">
								<div class="mb-3">
									<label>Enter Title</label> <input type="text" name="title"
										class="form-control">
								</div>

								<div class="mb-3">
									<label>Enter Description</label>
									<textarea rows="2" cols="" class="form-control" name="description"></textarea>
								</div>

								<div class="mb-3">
									<label>Select Category</label> <select class="form-control" name="category">
										<option>---select---</option>
										<option th:each="c:${categories}">[[${c.name}]]</option>
									</select>
								</div>

								<div class="mb-3">
									<label>Enter Price</label> <input type="number" name="price"
										class="form-control">
								</div>
								
								<div class="mb-3">
									<label>Enter Status</label>
									<div class="form-check">
										<input class="form-check-input" type="radio" name="isActive"
											id="radioDefault1" checked value="true"> <label
											class="form-check-label" for="radioDefault1"> Active
										</label>
									</div>
									<div class="form-check">
										<input class="form-check-input" type="radio" name="isActive"
											id="radioDefault2" value="false"> <label
											class="form-check-label" for="radioDefault2">
											Inactive </label>
									</div>

								</div>

								<div class="row">
									<div class="col mb-3">
										<label>Enter Stock</label> <input type="number" name="stock"
											class="form-control">
									</div>

									<div class="col mb-3">
										<label>Upload Image</label> <input type="file" name="file"
											class="form-control">
									</div>
								</div>

								<button class="btn btn-primary col-md-12">Submit</button>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</body>
</html>