<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
	th:replace="~{base::layout(~{::section})}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<section>
		<div class="container-fluid mt-2 p-2">
			<div class="row">
				<div class="col-md-10 offset-md-1">
					<div class="card card-sh">
						<div class="card-header card-sh bg-primary">
							<p class="fs-4 text-center">All Products</p>
							<th:block th:if="${session.success}">
								<p class="text-success fw-bold text-center">[[${session.success}]]</p>
								<th:block th:text="${@commonServiceImp.removeSessionMessage()}"></th:block>
							</th:block>

							<th:block th:if="${session.errmsg}">
								<p class="text-danger fw-bold text-center">[[${session.errmsg}]]</p>
								<th:block th:text="${@commonServiceImp.removeSessionMessage()}"></th:block>
							</th:block>
						</div>

						<div class="card-body">
							<table class="table">
								<thead>
									<tr>
										<th scope="col">Sl No.</th>
										<th scope="col">Image</th>
										<th scope="col">Title</th>
										<th scope="col">Category</th>
										<th scope="col">Price</th>
										<th scope="col">Stock</th>
										<th scope="col">Discount</th>
										<th scope="col">Discount Price</th>
										<th scope="col">Status</th>
										<th scope="col">Action</th>
									</tr>
								</thead>
								<tbody>
									<tr th:each="p,c:${products}">
										<th scope="row">[[${c.count}]]</th>

										<td><img th:src="@{'/uploads/product/' + ${p.image}}"
											width="70px" height="50px"></td>
										<td>[[${p.title}]]</td>
										<td>[[${p.category}]]</td>
										<td>[[${p.price}]]</td>
										<td>[[${p.stock}]]</td>
										<td>[[${p.discount}]]</td>
										<td>[[${p.discountPrice}]]</td>
										<!-- <td>[[${p.isActive}]]</td> -->
										<td><th:block th:if="${p.isActive==true}">In Stock</th:block>
											<th:block th:if="${p.isActive==false}">Out of Stock</th:block></td>
										
										<td><a th:href="@{'/admin/editProduct/'+${p.id}}"><i
												class="fa-solid fa-pen-to-square text-primary"></i></a> <a
											th:href="@{'/admin/deleteProduct/'+${p.id}}"> <i
												class="fa-solid fa-trash text-danger"></i></a></td>
									</tr>

								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</body>
</html>