<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
	th:replace="~{base::layout(~{::section})}">
<head>
<meta charset="UTF-8">
<title>Checkout</title>
</head>
<body>

	<section>
		<div class="container mt-4">
			<div class="card shadow">
				<div class="card-header bg-primary text-white text-center">
					<h4>Checkout</h4>
				</div>
				<div class="text-center">
					<i class="fa-solid fa-circle-check text-success fs-2"></i>
					<p class="text-bold text-success"> Order Placed Successfully</p>
				</div>
			</div>
		</div>
	</section>

</body>
</html>